include doc/*
include doc/**/*
include picamip/static/*
include picamip/static/**/*
include picamip/static/**/**/*
include picamip/static/**/**/**/*
include picamip/template/*
include picamip/template/**/*
