<!--
Python simple Raspberry-Pi camera module web interface
Copyright (C) 2020 Luiz Eduardo Amaral <luizamaral306@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
{% import "macros.jinja" as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Raspberry Pi Remote Camera">
    <meta name="author" content="Luiz Eduardo Amaral">
    <title>Picamip</title>
    <link rel="stylesheet" href="/static/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <script src="/static/jquery/jquery-3.5.1.min.js" ></script>
    <script src="/static/popper/1.16.1/popper.min.js" ></script>
    <script src="/static/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    {% block head %}{% endblock %}
  </head>

  <body>
    <div id="content">
      <div class="container-fluid">
        <div class="row mt-5">
          <div class="col-sm-6 offset-sm-1 d-flex align-items-baseline justify-content-between">
            <h2 class="mb-0 mr-1">
	      Picamip
              <a class="ml-2" style="" href="https://github.com/luxedo/picamip">
                <img src="static/GitHub-Mark-32px.png" /><span></span>
              </a>
            </h2>
          </div>
            {% if shutdown_button %}
              <div class="col-sm-5 mt-2">
              {{ macros.button(
              action="/shutdown",
              method="GET",
              parameters={},
              class="btn btn-warning tarvos-font-h1", 
              text="Shutdown", 
              text_class="h6",
              icon="/static/bootstrap/bootstrap-icons.svg#power", 
              icon_size="20")}}
              </div>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
      <div id="footer">
      {% if not self.footer() %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 offset-sm-3 mt-5 fixed-bottom text-center">
              <p>
                Copyright (c) 2020 Luiz Eduardo Amaral
                <a href="mailto:luizamaral306@gmail.com?Subject=OCDots">
                  &lt;luizamaral306@gmail.com&gt;
                </a>
                <br />
                This software is under a
                <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL3</a>
                license. Have fun!
                <span style="font-size: 1.5em; vertical-align: baseline">😉</span>
              </p>
            </div>
          </div>
        </div>
      {% else %}
        {% block footer %}{% endblock %}
      {% endif %}
    </div>
  </body>
  {% block end %}{% endblock %}
</html>
