<!--
Python simple Raspberry-Pi camera module web interface
Copyright (C) 2021 Luiz Eduardo Amaral <luizamaral306@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}{% endblock %}
    <meta name="description" content="Raspberry Pi Remote Camera">
    <meta name="author" content="Luiz Eduardo Amaral">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>Picamip</title>

    <link rel="stylesheet" href="/static/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <script src="/static/jquery/jquery-3.5.1.min.js" ></script>
    <script src="/static/popper/1.16.1/popper.min.js" ></script>
    <script src="/static/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block before %}{% endblock %}
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}{% endblock %} 
    </div>
  </body>
  {% block after %}{% endblock %}
</html>
